In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("data/Portfolios_Formed_on_ME_monthly_EW.csv", 
                   header = 0, index_col = 0, na_values = -99.99)
data.head()

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
192607,NaN,-0.43,1.52,2.68,-0.57,0.59,1.60,1.47,3.33,-1.45,0.29,-0.15,1.33,1.24,1.98,1.55,1.38,3.38,3.29
192608,NaN,3.90,3.04,2.09,3.84,3.59,3.71,1.61,2.33,5.12,2.59,4.03,3.15,2.72,4.72,1.60,1.63,0.98,3.70
192609,NaN,-1.08,-0.54,0.16,-0.48,-1.40,0.00,-0.50,-0.09,0.93,-1.87,-2.27,-0.53,0.07,-0.07,-1.64,0.64,-0.86,0.67
192610,NaN,-3.32,-3.52,-3.06,-3.29,-4.10,-2.89,-3.36,-2.95,-4.84,-1.77,-3.36,-4.83,-2.98,-2.80,-3.45,-3.27,-3.47,-2.43
192611,NaN,-0.46,3.82,3.09,-0.55,2.18,3.41,3.39,3.16,-0.78,-0.32,-0.29,4.65,3.24,3.57,3.82,2.95,3.61,2.70

Read in the data in the file “Portfolios_Formed_on_ME_monthly_EW.csv” as we did in the lab sessions.We performed a series of analysis on the ‘Lo 10’ and the ‘Hi 10’ columns which are the returns of the lowest and highest decile portfolios. For purposes of this assignment, we will use the lowest and highest quintile portfolios, which are labelled ‘Lo 20’ and ‘Hi 20’ respectively.

In [3]:
rets = data[['Lo 20', 'Hi 20']]
rets.columns = ['SmallCap', 'LargeCap']
rets = rets/100
rets.index = pd.to_datetime(rets.index, format="%Y%m").to_period('M')

In [4]:
rets.head()

         SmallCap  LargeCap
1926-07   -0.0057    0.0333
1926-08    0.0384    0.0233
1926-09   -0.0048   -0.0009
1926-10   -0.0329   -0.0295
1926-11   -0.0055    0.0316

1. What was the Annualized Return of the Lo 20 portfolio over the entire period?

In [5]:
n_months = rets.shape[0]
((rets['SmallCap']+1).prod()**(12/n_months) - 1).round(4)

0.152

2. What was the Annualized Volatility of the Lo 20 portfolio over the entire period?

In [6]:
(rets['SmallCap'].std()*np.sqrt(12)).round(3)

0.337

3. What was the Annualized Return of the Hi 20 portfolio over the entire period?

In [7]:
((rets['LargeCap']+1).prod()**(12/n_months) - 1).round(4)

0.0985

4. What was the Annualized Volatility of the Hi 20 portfolio over the entire period ?

In [8]:
(rets['LargeCap'].std()*np.sqrt(12)).round(3)

0.195

5. What was the Annualized Return of the Lo 20 portfolio over the period 1999 - 2015 (both inclusive)?

6. What was the Annualized Volatility of the Lo 20 portfolio over the period 1999 - 2015 (both inclusive)?

In [9]:
rets_9915 = rets['1999':'2015']
n_months = rets_9915.shape[0]
print(((rets_9915['SmallCap']+1).prod()**(12/n_months) - 1).round(4))
print((rets_9915['SmallCap'].std()*np.sqrt(12)).round(3))

0.1144
0.229

7. What was the Annualized Return of the Hi 20 portfolio over the period 1999 - 2015 (both inclusive)?

8. What was the Annualized Volatility of the Hi 20 portfolio over the period 1999 - 2015 (both inclusive)?

In [10]:
print(((rets_9915['LargeCap']+1).prod()**(12/n_months) - 1).round(4))
print((rets_9915['LargeCap'].std()*np.sqrt(12)).round(3))

0.0629
0.173

In [11]:
import edhec_risk_kit_106 as edhec

9. What was the Max Drawdown (expressed as a positive number) experienced over the 1999-2015 period in the SmallCap (Lo 20) portfolio?

In [12]:
edhec.drawdown(rets_9915['SmallCap']).min()

Wealth           1034.189842
Previous Peak    1111.400000
Drawdown           -0.624809
dtype: float64

10. At the end of which month over the period 1999-2015 did that maximum drawdown on the SmallCap (Lo 20) portfolio occur?

In [13]:
edhec.drawdown(rets_9915["SmallCap"])["Drawdown"].idxmin()

Period('2009-02', 'M')

11. What was the Max Drawdown (expressed as a positive number) experienced over the 1999-2015 period in the LargeCap (Hi 20) portfolio?

In [14]:
edhec.drawdown(rets_9915['LargeCap']).min()

Wealth            721.706638
Previous Peak    1015.300000
Drawdown           -0.552735
dtype: float64

12. Over the period 1999-2015, at the end of which month did that maximum drawdown of the LargeCap (Hi 20) portfolio occur?

In [15]:
edhec.drawdown(rets_9915["LargeCap"])["Drawdown"].idxmin()

Period('2009-02', 'M')

13. For the remaining questions, use the EDHEC Hedge Fund Indices data set that we used in the lab assignment and load them into Python. Looking at the data since 2009 (including all of 2009) through 2018 which Hedge Fund Index has exhibited the highest semideviation?

In [16]:
hfi = edhec.get_hfi_returns()
hfi.head()

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
1997-01,0.0119,0.0393,0.0178,0.0791,0.0189,0.0213,0.0191,0.0573,0.0281,0.0150,0.0180,-0.0166,0.0317
1997-02,0.0123,0.0298,0.0122,0.0525,0.0101,0.0084,0.0122,0.0175,-0.0006,0.0034,0.0118,0.0426,0.0106
1997-03,0.0078,-0.0021,-0.0012,-0.0120,0.0016,-0.0023,0.0109,-0.0119,-0.0084,0.0060,0.0010,0.0778,-0.0077
1997-04,0.0086,-0.0170,0.0030,0.0119,0.0119,-0.0005,0.0130,0.0172,0.0084,-0.0001,0.0122,-0.0129,0.0009
1997-05,0.0156,-0.0015,0.0233,0.0315,0.0189,0.0346,0.0118,0.0108,0.0394,0.0197,0.0173,-0.0737,0.0275

In [17]:
edhec.semideviation(hfi['2009':'2018']).sort_values()

Fixed Income Arbitrage    0.003321
Merger Arbitrage          0.003611
Global Macro              0.005075
Equity Market Neutral     0.005186
Relative Value            0.005711
Convertible Arbitrage     0.006681
Funds Of Funds            0.007948
Distressed Securities     0.009498
Event Driven              0.010135
CTA Global                0.010996
Long/Short Equity         0.012139
Emerging Markets          0.015276
Short Selling             0.021240
dtype: float64

14. Looking at the data since 2009 (including all of 2009) which Hedge Fund Index has exhibited the lowest semideviation?

In [18]:
edhec.semideviation(hfi['2009':]).sort_values()

Fixed Income Arbitrage    0.003321
Merger Arbitrage          0.003611
Global Macro              0.005075
Equity Market Neutral     0.005186
Relative Value            0.005711
Convertible Arbitrage     0.006681
Funds Of Funds            0.007948
Distressed Securities     0.009498
Event Driven              0.010135
CTA Global                0.010996
Long/Short Equity         0.012139
Emerging Markets          0.015276
Short Selling             0.021240
dtype: float64

15. Looking at the data since 2009 (including all of 2009) which Hedge Fund Index has been most negatively skewed?

In [19]:
edhec.skewness(hfi['2009':]).sort_values()

Equity Market Neutral    -0.896327
Funds Of Funds           -0.646908
Merger Arbitrage         -0.551065
Event Driven             -0.488821
Long/Short Equity        -0.463703
Distressed Securities    -0.254944
Emerging Markets          0.033123
CTA Global                0.052062
Relative Value            0.159953
Global Macro              0.348184
Short Selling             0.456518
Fixed Income Arbitrage    1.121453
Convertible Arbitrage     1.305911
dtype: float64

16. Looking at the data since 2000 (including all of 2000) through 2018 which Hedge Fund Index has exhibited the highest kurtosis?

In [20]:
edhec.kurtosis(hfi['2000':'2018']).sort_values()

CTA Global                 2.845022
Global Macro               3.653278
Short Selling              4.352758
Long/Short Equity          4.472589
Merger Arbitrage           4.520785
Event Driven               5.543444
Emerging Markets           5.941289
Distressed Securities      6.231720
Funds Of Funds             7.584725
Relative Value            12.731096
Equity Market Neutral     20.329621
Convertible Arbitrage     23.001449
Fixed Income Arbitrage    33.378729
dtype: float64